.bg-orange{
	background: orange;
}

.bg-black{

	background: black;
}

.bg-gray{
	background: gray;
}


.bg-pink{

	background: pink;
}

.bg-maroon{

	background:maroon;
}

.bg-brown{

	background:brown;
}	
.bg-lightgreen{
	background: lightgreen;
}

.bg-silver{
	background: silver;
}
